<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pup.taguig.ordermanagement.repositoryM.ReportMapper">
   
    <select id="getSalesReport" resultType="com.pup.taguig.ordermanagement.dto.TotalSalesReportResponseDTO">
        SELECT 
            COUNT(*) AS totalOrders, 
            SUM(total_price) AS totalRevenue 
        FROM orders
    </select>

    <select id="getTopSellingProducts" resultType="com.pup.taguig.ordermanagement.dto.SellingReportResponseDTO">
        SELECT 
            product_id AS productId, 
            p.name AS name, 
            SUM(quantity) AS totalSold 
        FROM order_items oi 
        JOIN products p ON oi.product_id = p.id 
        GROUP BY product_id
        ORDER BY totalSold DESC
    </select>
  
</mapper>
